/* app global css */

::-webkit-scrollbar {
  width: 5px;
  display: none; /*assim fica sem barra de scroll numa div*/
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffd208;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b69506;
}
